@page "/Accounts"
@using ExampleOnlineShop.HttpApiClient
@using ExampleOnlineShop.Domain
@using ExampleOnlineShop.Domain.Entities
<h3>AccountsPage</h3>
@inject IShopClient ShopClient;

    @if (_accounts is null)
    {
        <h3>LOADING...</h3>
    }
    else
    {<ul>
        @foreach (var account in _accounts)
        {
            <li>@account.Id<br/>
                @account.Name<br/>
                @account.Email<br/>
                @account.PasswordHash</li>
            <br/>
        }
        
    </ul>
    }


@code {
    private IReadOnlyCollection<Account>? _accounts = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _accounts = await ShopClient.GetAccounts();
    }

}}