@page "/SignUp"
@using ExampleOnlineShop.HttpApiClient
@using ExampleOnlineShop.Domain
@using ExampleOnlineShop.HttpModels.Requests
@inject IShopClient ShopClient
<h3>Авторизация</h3>

<EditForm Model="_request" OnValidSubmit=" Register"> @*Register срабатывает при валидных данных*@
    <DataAnnotationsValidator />
    Name: <InputText @bind-Value="_request.Name" /> <br/>
    Email: <InputText @bind-Value="_request.Email" /><br/>
    Password: <InputText @bind-Value="_request.Password" /><br/>
    @* Красивее оборачивать в table MadBlasor *@
 
    <br/> <input type="submit" value="SignUp">
    <ValidationSummary />
</EditForm>

@code {
    private RegisterRequest _request = new();
    
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected async Task Register()
    {
        CancellationToken cancellationToken = default;
        await ShopClient.RegisterUser(_request, cancellationToken);
    }

    
}