@page "/Catalog"
@using ExampleOnlineShop.Models
@using ExampleOnlineShop.HttpApiClient
@inject IShopClient ShopClient
<h3>Catalog</h3>
@if (_products is null)
{
    <h3>LOADING...</h3>
}
else
{
    @foreach (var product in _products)

    {
        <p>@product</p>
        <a href="ProductInfo/@product.Id">INFORMATION</a>
    }

    <br/>
    <a href="productAddition">PAGE PRODUCT ADDITION</a>
}


@code {
    private IReadOnlyCollection<Product>? _products = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _products = await ShopClient.GetProducts();
    }

}

}